.list-of-pokemons {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    background: rgb(109, 109, 215);
    /* flex-wrap: wrap; */
    


}



@media (max-width: 600px) {
    .list-of-pokemons {
        flex-direction: column;
        align-items: center;
    }
} 
